body {
    background-color: #000000;
    color: fuchsia;
}

.reveal h1 {
    font-size: 3em;
    color: fuchsia;
}

.reveal h2 {
    font-size: 3em;
    color: fuchsia;
}

.reveal h3 {
    font-size: 3em;
    color: fuchsia;
}

.reveal h4 {
    font-size: 3em;
    color: fuchsia;
}

.reveal h5 {
    font-size: 3em;
    color: fuchsia;
}

.reveal h6 {
    font-size: 3em;
    color: fuchsia;
}

.reveal p {
    font-size: 3em;
    color: fuchsia;
}
